<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thedailynews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/newslogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/newslogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:theme="@style/AppTheme.Splash"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".About" />
        <activity android:name=".Subscribe" />
        <activity android:name=".Login" />
        <activity android:name=".Register">

        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>